@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: satoshi-normal;
  src: url('../public/Satoshi-Light.ttf');
}

.satoshi-normal {
  font-family: satoshi-normal;
}

@font-face {
  font-family: satoshi-bold;
  src: url('../public/Satoshi-Medium.ttf');
}

.satoshi-bold {
  font-family: satoshi-bold;
}